<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{error}">

<head>
<title>Movie Collection - 403 Error Page</title>
</head>

<body>
	<div layout:fragment="errorcontent">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="jumbotron">
						<h1>Forbidden</h1>
						<hr />
						<blockquote style="word-wrap: break-word" class="blockquote">
							You don't have permission to access this page!
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>