<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec ="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Movie Collection</title>

<!-- Bootstrap CSS  -->
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Bootstrap Literia Theme CSS -->
<link href="../static/css/bootstrap-literia-theme.min.css" th:href="@{/css/bootstrap-literia-theme.min.css}" rel="stylesheet" />


<!-- Bootstrap DataTables-->
<link href="../static/css/dataTables.bootstrap4.min.css" th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" />

	
<!-- Bootstrap DataTable Responsive  -->
<link href="../static/css/responsive.bootstrap4.min.css" th:href="@{/css/responsive.bootstrap4.min.css}" rel="stylesheet" />

<!-- Fontawsome css -->
<link href="../static/css/all.css" th:href="@{/css/all.css}" rel="stylesheet" />


<!-- Custom CSS-->
<link href="../static/css/mymoviecollection.css" th:href="@{/css/mymoviecollection.css}" rel="stylesheet" />



<script th:inline="javascript">
/*<![CDATA[*/
   window.menu=/*[[@{${title}}]]*/ '';
   window.contextRoot = /*[[@{/}]]*/ '';

/*]]>*/
</script>

</head>

<body>
	<div class="wrapper">
		<!-- Navigation -->
		<div th:replace="fragments/navbar :: navbar"></div>
		<!-- Page Content -->
		<div class="content">
			<section layout:fragment="pagecontent"></section>
		</div>

		<!-- Footer -->
		<div th:replace="fragments/footer :: footer"></div>

		<!-- jQuery -->
		<script th:src="@{/js/jquery.min.js}"></script>
		
		<!-- jQuery Validation -->
		<script th:src="@{/js/jquery.validate.min.js}"></script>
		
		<!-- Bootstrap core JavaScript -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
		
		<!-- DataTable Plugin JavaScript-->
		<script th:src="@{/js/jquery.dataTables.js}"></script>
		<!-- DataTable Bootstrap JavaScript -->
		<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
		<!-- DataTable Bootstrap Responsive JavaScript -->
		<script th:src="@{/js/dataTables.responsive.min.js}"></script>
		
		<!-- Bootbox -->
		<script th:src="@{/js/bootbox.min.js}"></script>
		
		<!-- Custom JavaScript  -->
		<script th:src="@{/js/mymoviecollection.js}"></script>

	</div>
</body>

</html>